* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #F5F5F5;
    margin: 0;
    margin-left: 2%;
}

h1 {
    font-size: 250%;
    color:#008B8B /*#001f3f*/;
    letter-spacing: 3%;
    text-align: center;
}

h2 {
    /*font-size:3vw;*/
    font-size: 200%;
    line-height: 100%;
    font-weight: 700;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #85144b;
    letter-spacing: 3%;
}

h3 {
    font-size: 175%;
    line-height: 100%;
    padding-top: 1%;
    padding-bottom: 2%;
    /*padding: 3% 0;*/
    font-weight: 400;
    color: #FA8072;
}

h4 {
    text-align: center;
    font-size: 24px;
    color: steelblue;
    margin: 0px,5px;
}

section {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0, 5%;
}

section div {
    margin: 1%;
    padding: 1%;
}

section div h4 {
    font-size: 200%;
    letter-spacing: 3%;
    font-weight: 700;
    text-align: left;
    color: #20B2AA;
}

.clearfix {
    clear: both;
}

p {
    font-family: "Alegreya Sans", sans-serif;
    color: black; /*#F5F5F5;*/
    font-size: 150%;
    line-height: 120%;
    padding: 0, 3%;
    text-align: justify;
}

aside {
    font-size: 175%;
    line-height: 125%;
    padding: 2%;
    margin: 2%;
    font-weight: 400;
    color: #FA8072;
}

.titlearea {
    margin: auto;
    padding: 2%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

table {
    border-spacing: 5px;
    width: 80%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    width: 50%;
    height: 50%;
    margin: 10px;
    border: 5px solid black;
    box-sizing: border-box;
}

#Keralalogo {
    width: 15%;
    height: 15%;
}

#twiter {
    float:right;
    margin-right:3%;
    width: 10%;
    height: 10%;
    border: none;
}

a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.Hashtag {
    margin: 1%;
}
#googledoc{
    font-size: 175%;
    line-height: 125%;
    padding: 2%;
    font-weight: 400;
    border: 5px solid black;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 200%;
        color: #001f3f;
        letter-spacing: 2%;
        text-align: center;
    }

    h2 {
        font-size: 150%;
        font-weight: 700;
        margin-top: 3%;
    }
    h3 {
    font-size: 100%;
    line-height: 100%;
    margin-top:2%;
    font-weight: 400;
    color: #FA8072;
}
h4 {
    text-align: center;
    font-size: 20px;
    color: steelblue;
    margin: 5px;
}
    p {       
        font-size: 130%;
        margin-top:2%;
        margin-botttom:2%;
        
    }
    img {
        width: 100%;
        height: 100%;
        margin:0;
        border: 5px solid black;
    }

    #Keralalogo {
        width: 30%;
        height: 30%;
    }

    table {
        border-spacing: 5px;
        width: 100%;
    }
    #twiter {
  display:none;
}
}
